{%  load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>Gab - Chapter 6</title>

    <link rel='stylesheet' href="{% static 'cc/css/jquery-ui.css' %}">
    <script src='{% static 'cc/js/jquery.js' %}'></script>
    <link rel='stylesheet' href="{% static 'cc/plugins/jquery-ui/jquery-ui.css' %}">
    <script src='{% static 'cc/js/jquery-ui.js' %}'></script>
    <script src='{% static 'cc/js/strophe.js' %}'></script>
    <script src='{% static 'cc/js/dig.js' %}'></script>
    <link rel='stylesheet' href="{% static 'cc/css/dig.css' %}">
  </head>
  <body>
    <h1>Dig</h1>

    <div id='input-bar'>
      <input id='service' type='text'>
      <input id='dig' type='button' value='Dig!' disabled='disabled'>
    </div>

    <div class='clear'></div>

    <div class='left'>
      <ul id='tree'>
      </ul>
    </div>

    <div class='right'>
      <h2 id='selected-name'></h2>
      <div id='disco-info'>
        <h3>Identities:</h3>
        <ul id='identity-list'>
        </ul>

        <h3>Features:</h3>
        <ul id='feature-list'>
        </ul>
      </div>
    </div>

    <!-- login dialog -->
    <div id='login_dialog' class='hidden'>
      <label>JID:</label><input type='text' id='jid'>
      <label>Password:</label><input type='password' id='password'>
    </div>
  </body>
</html>
