{%  load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>NetPad - Chapter 10</title>

    <script src='{% static 'cc/js/jquery.js' %}'></script>
    <script src='{% static 'cc/js/jquery-ui.js' %}'></script>
    <link rel='stylesheet' href="{% static 'cc/css/netpad.css' %}">
    <link rel='stylesheet' href="{% static 'cc/plugins/jquery-ui/jquery-ui.css' %}">

    <link rel='stylesheet' href="{% static 'cc/plugins/jquery-ui/jquery-ui.theme.css' %}">
    <script src='{% static 'cc/js/strophe.js' %}'></script>
    <script src='{% static 'cc/js/optrans.js' %}'></script>
    <script src='{% static 'cc/js/netpad.js' %}'></script>
  </head>
  <body>
    <h1>NetPad</h1>

    <div id='status' class='no-collab'>
      Not collaborating.
    </div>
    <input id='disconnect' type='button' value='disconnect'
           disabled='disabled'>
    <div class='clear'></div>

    <textarea id='pad' disabled='disabled'></textarea>

    <div id='chat-area'>
      <div id='chat'></div>
      <input id='input' type='text' disabled='disabled'>
    </div>

    <!-- login dialog -->
    <div id='login_dialog' class='hidden'>
      <label>JID:</label><input type='text' id='jid' value="admin@localhost">
      <label>Password:</label><input type='password' id='password' value="12345678">
      <label>Collaborator:</label><input type='collaborator' id='collaborator'>
    </div>
  </body>
</html>
