{% extends "cc/base.html" %}

{%block content %}
<div class="container">
  <ul class="pagination problem-pagination">
    <li class="active"><a href="/cc/problem/list/">1</a></li>
    <li><a href="/cc/problem/list">2</a></li>
    <li><a href="/cc/problem/list">3</a></li>
    <li><a href="/cc/problem/list">4</a></li>
    <li><a href="/cc/problem/list">5</a></li>
    <li><a href="/cc/problem/list">6</a></li>
    <li><a href="/cc/problem/list">7</a></li>
    <li><a href="/cc/problem/list">8</a></li>
    <li><a href="/cc/problem/list">9</a></li>
    <li><a href="/cc/problem/list">10</a></li>
    <li><a href="/cc/problem/list">11</a></li>
    <li><a href="/cc/problem/list">12</a></li>
    <li><a href="/cc/problem/list">13</a></li>
  </ul>
  <table class="table table-striped">
    <thead>
      <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Ratio(AC/Submit)</th>
      </tr>
    </thead>
    <tbody>
      {%for problem in problems%}
      <tr>
          <td class="pid ">{{problem.id}}</td>
          <td class="ptitle"><a href='/cc/problem/show/{{problem.id}}'>{{problem.problem_name}}</a></td>
          <td>{{problem.problem_accepted}}/{{problem.problem_total_submissions}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{% endblock %}
